{% extends "base2.html" %}
<html lang="pl">

<head>
{% block title %} Gramofon Chylonia - Gramofon w Gdyni {% endblock title %}
</head>


<body>
{% block img_bcg %} 
<section id="gramofon-chylonia" class="gramofon-chylonia">
  {% endblock %}


{% block local_title %} {{ chylonia_obj.title_page }} {% endblock %}
{% block street %} {{ chylonia_obj.street }} {% endblock %}
{% block short_note %} Lokal o powierzchni 90 metrów <sup>2</sup>.</p> {% endblock %}



{% block title1 %} {{ chylonia_obj.dance_room_title }} {% endblock %}
{% block note1 %} {{ chylonia_obj.dance_room_note|linebreaksbr }} {% endblock %}

{% block img_1 %} 
<img class="img-fluid" src="/media/image/{{chylonia_obj.dance_room_img}}">
{% endblock %}


{% block img_2 %} 
<img class="img-fluid" src="/media/image/{{chylonia_obj.equipment_img}}">
{% endblock %}

{% block title2 %}{{ chylonia_obj.equipment_title }} {% endblock %}
{% block note2 %} {{ chylonia_obj.equipment_note|linebreaksbr }} {% endblock %}


{% block title3 %} {{ chylonia_obj.toilet_title}} {% endblock %}
{% block note3 %} {{ chylonia_obj.toilet_note|linebreaksbr}}{% endblock %}

{% block img_3 %} 
<img class="img-fluid" src="/media/image/{{chylonia_obj.toilet_img}}">
{% endblock %}


</body>
</html>