 {% extends "templateG.html" %}
<html lang="pl">
  <!-- <head> -->
<!--    -->
  <!-- </head> -->
<!--    -->
  <!-- <body> -->
<body>
  <div class="container bg-light"> 
    {% block title %}Kontakt - Gramofon w Gdyni{% endblock %}

    {% block head %} Zadzwoń do nas{% endblock %}
      {% block content %}KONTAKT{% endblock %}
<main>

      {% block info_contact %}
      <div class="container bg-light"> 
        <div class="row gx-5 ms-auto">
          <div class="col">
            <h3 class="contact-contact-info py-5">Skontaktuj się z nami</h3>
            <p>TELEFON: 733 029 644</p>
            <p>Email: gramofongdynia@gmail.com</p>
            <p>Wynajęcie lokalu od godz. 15:00 ( lub później) do godz. 06:00</p>
            <h3 class="contact-contact-info py-5">Śledz nas</h3>
            <p>Miło będzie jak zalakujesz nasz na fejsie.</p>
            <i class="fa-brands fa-facebook fa-2xl" style="color: #2e3436;"><a href="https://www.facebook.com/gramofongdynia"></a> </i>
          
            <!-- <a class="icon-link" href="#"> -->
              <!-- <svg class="bi" aria-hidden="true"><use xlink:href="#box-seam"></use></svg> -->
              <!-- Icon link -->
            <!-- </a>           -->
          
          </div>
          
          
          <div class="col">
            <div class="col">
              <h3 class="contact-contact-info py-5">Numer konta</h3>
            <div class="textwidget">
              <p>32 1090 1102 0000 0001 4826 5870</p>
              <br>
              <p>Z tytułem przelewu:</p>
              <p>Jaki lokal + data wynajmu + kaucja zwrotna  + numer telefonu</p>

              <br>
              <br>
              <p>Adres</p>
             
             
             
             
            
          
          <strong>Gramofon Morska&nbsp; </strong> ul. Morska 122 A
          <br>
          81-225 Gdynia
          <br>
          Gramofon znajduje się w kompleksie handlowo usługowym przy kościele Gdynia Grabówek wejście od ul. Morskiej. Do stacji SKM Gdynia Grabówek 3 min.
          <br>
          <br>

          <strong>Gramofon Grabówek&nbsp; </strong> ul. Morska 169
          <br>
          81-222 Gdynia
          <br>
          Gramofon znajduje się 5 min. od stacji SKM Grabówek. Lokal znajduje się w kompleksie handlowo usługowym gdzie jest Żabka.
          <br>
          <br>

          <strong>Gramofon Chylonia&nbsp; </strong> ul. Chylońska 122
          <br>
          81-222 Gdynia
          <br>
          Gramofon Chylonia mieści się 1 min od przystanku SKM Gdynia Chylonia
          <br>
          <br>
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
            </div>
            </div>
          </div>
        </div>
      </div>
      
    
    
    
    
    
      </section>
 
      {% endblock %}
    
</main>
</div>
</body> 
</html>


















