 {% extends "templateG.html" %}
<html lang="pl">
  <!-- <head> -->
<!--    -->
  <!-- </head> -->
<!--    -->
  <!-- <body> -->
    {% block title %}Kontakt - Gramofon w Gdyni{% endblock %}

    {% block head %} Zadzwoń do nas{% endblock %}
      {% block content %}KONTAKT{% endblock %}

      <article id="post-116" class="article--page article--main border-waves post-116 page type-page status-publish has-post-thumbnail hentry">
				<section class="article__content">
					<div class="container">
						<section class="page__content  js-post-gallery  cf">
							<p>&nbsp;</p>
	<div class="pixcode  pixcode--grid  grid">
			<div class="grid__item six-twelfths palm-one-whole">

        <h1>test</h1>
  
  
</html>


















