{% extends "base2.html" %}
<html lang="pl">

<head>
{% block title %} Gramofon Grabówek - Gramofon w Gdyni {% endblock title %}
</head>


<body>
{% block img_bcg %} 
<section id="gramofon-grabowek" class="gramofon-grabowek">
  {% endblock %}


{% block local_title %} {{ grabowek_obj.title_page }} {% endblock %}
{% block street %} {{ grabowek_obj.street }} {% endblock %}
{% block short_note %} Lokal 2 poziomowy o powierzchni 130 metrów <sup>2</sup>.</p> {% endblock %}



{% block title1 %} {{grabowek_obj.banquet_hall_title}} {% endblock %}
{% block note1 %} {{grabowek_obj.banquet_hall_note|linebreaksbr  }} {% endblock %}

{% block img_1 %} 
<img class="img-fluid" src="/media/image/{{grabowek_obj.banquet_hall_img}}">
{% endblock %}


{% block img_2 %} 
<img class="img-fluid" src="/media/image/{{grabowek_obj.equipment_img}}">
{% endblock %}

{% block title2 %}{{ grabowek_obj.equipment_title }} {% endblock %}
{% block note2 %} {{ grabowek_obj.equipment_note|linebreaksbr }} {% endblock %}


{% block title3 %} {{ grabowek_obj.dance_room_title }} {% endblock %}
{% block note3 %} {{ grabowek_obj.dance_room_note|linebreaksbr }} {% endblock %}

{% block img_3 %} 
<img class="img-fluid" src="/media/image/{{grabowek_obj.dance_room_img}}">
{% endblock %}


</body>
</html>