{% extends "base.html" %}
<html lang="pl">


{% block title%}Gramofon - Twoje miejsce na Urodziny i Imprezy w Gdyni{% endblock %}

<body>

{% block title_page_base %}
  <header class="hero-img" id="home">
    <div class="hero-text">
      <p>GRAMOFON<p>
      <p>URODZINY I IMPREZY OKOLICZNOŚCIOWE</p>
    </div>
     <div class="hero-shadow">
     <a href="./gramofon/morska.html"></a><i class="fa-solid fa-chevron-down"></i></a>
    </div>
  

  </header>
{% endblock %}





















</body>

  </html>