{% extends "base.html" %}
<html lang="pl">


{% block title%}Gramofon - Twoje miejsce na Urodziny i Imprezy w Gdyni{% endblock %}

<body>
{% block logo %}<img src="/static/gramofon-logo_biale.png" height="43,63" width="200" alt="Gramofon w Gdyni">{% endblock %}


{% block title_page_base %}
  <header class="hero-img" id="home">
    <div class="hero-text">
      <p>GRAMOFON<p>
      <p>URODZINY I IMPREZY OKOLICZNOŚCIOWE</p>
    </div>
     <a class="hero-shadow">
     <a href="#down_page"><i class="fa-solid fa-chevron-down"></i></a>
    </div>
  

  </header>
{% endblock %}

{% block title_page_on_head %}
<main>

  <article id="post-5" class="article--page article--main border-waves post-5 page type-page status-publish has-post-thumbnail hentry">
  
    <section id="#" class="home bg-light py-5">
    
      <div class="container mt-3"> 
      <div class="row gx-1 ms-auto">
          <h4 class="aboutus-card-title">
          <strong>TRZY LOKALE DO WYBORU !</strong>
          <a name="down_page"></a>
          </h4>
          
      </div>
    </div>

  {% endblock %}



  {% block local_grabowek %}
  <section class="article__content__grabowek">
    <div class="container mt-5"> 
      <div class="row gx-5 ms-auto">
          <div class="col-sm-6">
            <h2 class="aboutus-local-title text-break py-3"> Grabówek</h2>

        <div class="pixcode  pixcode--separator  separator separator--flower separator_color--dark ">✻</div>

        <p class="aboutus-local-note">Lokal 2 poziomowy o powierzchni 130 metrów <sup>2</sup> do 40 osób.</p>
        <p>
          <a class="link" href="gramofon-grabowek">Dowiedz się więcej ></a> 
        </p> 
        
        </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="../../static/gra_g.jpg" alt="sala taneczna">
      </div>
      {% block separator %}
  <div class="pixcode  pixcode--separator  separator separator--line-flower">
    <div class="line  line--left"></div>
    <div class="line  line--right"></div>
    <div class="star">✻</div>
    <div class="arrows">
    <div class="arrow arrow--left"></div>
    <div class="arrow arrow--right"></div>
  </div>

      {% endblock %}
</div>
      </div>
    </div>
        </div>
  </section>

  {% endblock %}

{% block local_morska %}
  <section class="article__content__morska">
    <div class="container mt-3"> 
    <div class="row gx-5 ms-auto">
      <div class="col-sm-6">
        <h2 class="aboutus-local-title text-break"> Morska</h2>
          
      
        <div class="pixcode  pixcode--separator  separator separator--flower separator_color--dark">✻</div>
        
        <p class="aboutus-local-note">Lokal o powierzchni 100 m <sup>2</sup> do 40 osób.</p>
        <p>
          <a class="link" href="gramofon-morska">Dowiedz się więcej ></a>
        </p>
      </div>
      <div class="col-sm-6 gy-5">
        <img class="img-fluid" src="../../static/mor_1.jpg" alt="sala taneczna">
      </div>

      <p>&nbsp;</p>
      <div class="pixcode  pixcode--separator  separator separator--line-flower">
        <div class="line  line--left"></div>
        <div class="line  line--right"></div>
        <div class="star">✻</div>
        <div class="arrows">
        <div class="arrow arrow--left"></div>
        <div class="arrow arrow--right"></div>
      </div>
    </div>
    </div>    
    </div>
  </div>
</section>

{% endblock %}

{% block local_chylonia %}
<section class="article__content__chylonia">
  <div class="container mt-3"> 
    <div class="row gx-5 ms-auto">
      <div class="col-sm-6">
        <h2 class="aboutus-local-title text-break"> Chylonia</h2>

        <div class="pixcode  pixcode--separator  separator separator--flower separator_color--dark">✻</div>
        <p class="aboutus-local-note">Lokal o powierzchni 90 metrów <sup>2</sup> do 40 osób.</p>
        <p>
          <a class="link" href="gramofon-chylonia">Dowiedz się więcej ></a>
        </p> 
      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="../../static/chy_g.jpg" alt="sala taneczna">
      </div>

    </div>       
    </div>
  </div>


</section>
{% endblock %}


  























</body>

  </html>