{% extends "base2.html" %}


{% block title %} Imprezy cateringowe {% endblock title %}

{% block img_bcg %} 
<section id="imprezy-cateringowe" class="imprezy-cateringowe">
  {% endblock %}
  {% block street %} IMPREZY CATERINGOWE {% endblock %}


{% block content_catering_events %}
<section id="menu" class="catering bg-light py-5">
    <div class="container"> 
  <div class="row gx-5 ms-auto">
    <div class="col">
      <h3 class="title-menu py-5"><strong> Menu&nbsp; bankietowe&nbsp; &nbsp;</strong>75 zł/osobę&nbsp;</h3>
      <p class="title-note py-5">Oferta od 24 osób –&nbsp;<b>koszt wynajmu lokalu w cenie cateringu!!!</b>
        <p class="title-note"><b>Nakryjemy stoły obrusami, porcelaną, sztućcami, szkłem. </b> </p>
        <p class="title-note"></p><b>Sprzątamy za Ciebie !</b>
        <p class="title-note mt-5"><b>Danie na początek </b> 
        <ul>
            <li>Żurek</li>
        </ul>
        <p class="title-note">Zakąski</p>
        <ul>
            <li>Roladki drobiowe ze śliwką</li>
            <li>Faworki z piersi indyczej</li>
            <li>Smalec po kaszubsku, kiszony ogórek</li>
            <li>Pieczywo</li>
        </ul> <p></p>
        <p class="title-note">Na zamówienie: &nbsp; &nbsp; &nbsp; kawa, herbata &nbsp; 6 zł</p>
        <p class="title-note">Barszczyk czerwony z pasztecikiem 10 zł </p>
    </div>
    
    
    <div class="col gy-5 py-5">
      <div class="col-img">
      <img class="img-fluid" src="../static/cat_1.jpg">
    </div>
   
   
  </div>
  <div class="row gx-5 ms-auto text-center">
    <p><strong><em> Można wnieść swoje zakąski, napoje alkoholowe, co nie jest zabronione jest dozwolone.</em></strong></p> </div>
    <div class="pixcode  pixcode--separator  separator separator--line-flower">
      <div class="line  line--left"></div>
      <div class="line  line--right"></div>
      <div class="star">✻</div>
      <div class="arrows">
      <div class="arrow arrow--left"></div>
      <div class="arrow arrow--right"></div>
      </div>
    </div>
    </div>
    
    
  </section>


  <section id="menu-richer" class="catering bg-light py-5">
    <div class="container"> 
  <div class="row gx-5 ms-auto">
    <div class="col">
      <h3 class="title-menu mt-2"><strong>Menu&nbsp; bankietowe&nbsp; &nbsp;</strong> 110 zł/osobę&nbsp;</h3>
      <p class="title-note py-5">Oferta od 24 osób –&nbsp;<b>koszt wynajmu lokalu w cenie cateringu!!!</b>
        <p class="title-note"><b>Nakryjemy stoły obrusami, porcelaną, sztućcami, szkłem. </b> </p>
        <p class="title-note"></p><b>Sprzątamy za Ciebie !</b>
        <p class="title-note mt-5"><b>Danie na początek </b> 
        <ul>
            <li>Pierś w sosie śmietankowym z suszonymi pomidorami</li>
            <li>Ziemniaki z koperkiem</li>
            <li>Marchewka mini</li>
        </ul>
        <p class="title-note">Zakąski</p>
        <ul>
            <li>Tortilla z łososiem wędzonym</li>
            <li>Roladki drobiowe ze śliwką</li>
            <li>Faworki z piersi indyczej</li>
            <li>Sery pleśniowe, winogrona</li>
            <li>Śledzik w oliwce z cebulką</li>
            <li>Smalec po kaszubsku, ogórek kiszony</li>
            <li>Pieczywo</li>
            
        </ul> <p></p>
        <p class="title-note">Na zamówienie: &nbsp; &nbsp; &nbsp; kawa, herbata &nbsp; 6 zł</p>
        <p class="title-note">Barszczyk czerwony z pasztecikiem 10 zł </p>
        <p class="title-note"> Strogonow wieprzowy 12 zł </p>
    </div>
    
    
    <div class="col gy-5 py-5">
      <div class="col-img">
      <img class="img-fluid my-3" src="../static/cat_2.jpg">
    </div>
   
   
  </div>
  <div class="row gx-5 ms-auto text-center">
    <p><strong><em> Można wnieść swoje zakąski, napoje alkoholowe, co nie jest zabronione jest dozwolone.</em></strong></p> </div>
    <div class="pixcode  pixcode--separator  separator separator--line-flower">
      <div class="line  line--left"></div>
      <div class="line  line--right"></div>
      <div class="star">✻</div>
      <div class="arrows">
      <div class="arrow arrow--left"></div>
      <div class="arrow arrow--right"></div>
      </div>
    </div>
    </div>
    
    
  </section>

  <section id="menu-communion-baptism" class="catering bg-light py-5">
    <div class="container"> 
  <div class="row gx-5 ms-auto">
    <div class="col">
      <h3 class="title-menu mt-2"><strong> Menu&nbsp; komunia/chrzciny&nbsp; &nbsp;</strong>130 zł/osoby&nbsp;</h3>
      <p class="title-note py-5">Oferta od 24 osób –&nbsp; (na osobę 2 szt. mięsa )</p>
        <ul>
            <li>Rosół z makaronem ( podawany w wazie )</li>
            <li>Pierś z indyka w sosie śmietankowym  z suszonymi pomidorami</li>
            <li>Kotlet schabowy</li>
            <li>Kotlet de volaille</li>
            <li>Ziemniaki z koperkiem</li>
            <li>Frytki kulki</li>
            <li>Surówka z marchwi</li>
            <li>Surówka coleslaw</li>
            <li>Kawa, herbata (bez ograniczeń)</li>
            <li>Woda z cytryną, sok (bez ograniczeń)</li>  
            
        </ul> 
        <p class="title-note py-5"><strong>Ciasta, torty w swoim zakresie.</strong></p>
      </div>
    

 




 

  <div class="container"> 
    <div class="row gx-5 ms-auto">
      <div class="col">
        <h3 class="catering_title py-5">Lokal na wyłączność</h3>
        <p class="title-note">Przy skorzystaniu z cateringu koszt wynajmu GRATIS</p>
        <p class="link-regulamin">
          <a class="link" href="/statute.html">Regulamin</a> 
        </p> 
            
      </div>
      
      
      <div class="col">
        <div class="col">
          <h3 class="catering_title py-5">Skontaktuj się z nami</h4>
        <div class="textwidget">
          <p>TELEFON: 733 029 644</p>
          <p>Numer Konta: 32 1090 1102 0000 0001 4826 5870</p>
          <p>Email: gramofongdynia@gmail.com</p>
          <br>
          <br>



          <strong>Gramofon Morska&nbsp; </strong> ul. Morska 122 A
          <br>
          81-225 Gdynia
          <br>
          Gramofon znajduje się w kompleksie handlowo usługowym przy kościele Gdynia Grabówek wejście od ul. Morskiej. Do stacji SKM Gdynia Grabówek 3 min.
          <br>
          <br>

          <strong>Gramofon Grabówek&nbsp; </strong> ul. Morska 169
          <br>
          81-222 Gdynia
          <br>
          Gramofon znajduje się 5 min. od stacji SKM Grabówek. Lokal znajduje się w kompleksie handlowo usługowym gdzie jest Żabka.
          <br>
          <br>

          <strong>Gramofon Chylonia&nbsp; </strong> ul. Chylońska 122
          <br>
          81-222 Gdynia
          <br>
          Gramofon Chylonia mieści się 1 min od przystanku SKM Gdynia Chylonia
          <br>
          <br>


        </div> 
        </div>
      </div>
    </div>
  </div>
  </div>
    </div>
    
   
   
   
   

 
 
 <!-- tu poprawić by było na całą szerokość -->
 
    <section id="porcelain_rental" class="porcelain_rental">
    <div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center text-center mb-3">
      <div class="row">
        <div class="col-sm-12">
        <h5 class="street">WYPOŻYCZENIE PORCELANY</h5>  
      

      </div>
    </div>
    <div>
  </div>
  </div>
</section>

  <p class="ms-5 mt-3 mb-5">Wypożycz porcelanę razem z nami a bałagan zostawisz w lokalu po wynajęciu.</p>

    
  {% endblock %}

 
 
     






 
 
 


   
   
   
   
   

   
   
   













    

