{% extends "base.html" %}


{% block title %} Gramofon Morska - Gramofon w Gdyni {% endblock title %}



{% block nav %} class="navbar navbar-light navbar-expand-lg position-fixed  w-100 id="nav-dark" {% endblock %}
{% block logo %}<img src="../static/gramofon-logo_rgb.png" height="43,63" width="200" alt="Gramofon w Gdyni">{% endblock %}


{% block img_bcg %} 
<section id="gramofon-morska" class="gramofon-morska"></section>
  {% endblock %}

  
{% include "base2.html"}

{% block local_title %} {{ morska_obj.title_page }} {% endblock %}
{% block street %} {{ morska_obj.street }} {% endblock %}
{% block short_note %} Lokal o powierzchni 100 m <sup>2</sup>.{% endblock %}



{% block title1 %} {{ morska_obj.dance_room_title }} {% endblock %}



{% block note1 %} {{ morska_obj.dance_room_note|linebreaksbr }} {% endblock %}

{% block img_1 %} 
<img class="img-fluid" src="/media/image/{{morska_obj.image_base}}">
{% endblock %}


{% include "separator.html" %}


{% block img_2 %} 
<img class="img-fluid" src="/media/image/{{morska_obj.toilet_img}}">
{% endblock %}

{% block title2 %}{{ morska_obj.toilet_title}} {% endblock %}
<div class="pixcode  pixcode--separator  separator separator--flower separator_color--dark">✻</div>

{% block note2 %} {{ morska_obj.toilet_note }} {% endblock %}


{% block title3 %} {{ morska_obj.kitchen_title }} {% endblock %}
<div class="pixcode  pixcode--separator  separator separator--flower separator_color--dark">✻</div>

{% block note3 %} {{ morska_obj.kitchen_note|linebreaksbr}}{% endblock %}

{% block img_3 %} 
<img class="img-fluid" src="/media/image/{{morska_obj.kitchen_img}}">
{% endblock %}


