{% extends "base2.html" %}
<html lang="pl">


{% block title %} Gramofon Morska - Gramofon w Gdyni {% endblock title %}


{% block local_title %} {{ morska_obj.title_page }} {% endblock %}
{% block street %} {{ morska_obj.street }} {% endblock %}
<!-- {% block short_note %} {% endblock %} -->
<!-- {% block title1 %} {% endblock %} -->
<!-- {% block note1 %} {% endblock %} -->
<!--  -->

{% block img_1 %} 
<img class="img-fluid" src="/media/image/{{morska_obj.image_base}}">
{% endblock %}




</html>