<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block separator %}
    <div class="pixcode  pixcode--separator  separator separator--line-flower">
      <div class="line  line--left"></div>
      <div class="line  line--right"></div>
      <div class="star">✻</div>
      <div class="arrows">
      <div class="arrow arrow--left"></div>
      <div class="arrow arrow--right"></div>
      </div>
    </div>
    </div>
    {% endblock %}    
</body>
</html>