{% extends "base2.html" %}

<title>{% block title %} Regulamin - Gramofon w Gdyni {% endblock %}</title>

<body>

  {% block logo %}<img src="/static/gramofon-logo_rgb.png" height="43,63" width="200" alt="Gramofon w Gdyni" id="logo-dark">{% endblock %}

  {% block img_bcg %} 
  <section id="statute" class="statute">
  {% endblock %}


  {% block street %} REGULAMIN {% endblock %}

  {% block content_statute %}

    <p>REGULAMIN</p>
    <ol>
      <li>Regulamin obowiązuje wszystkie osoby przebywających na terenie lokalu Gramofonu Grabówek, Gramofonu Chylonia, Gramofonu Morska.</li>
      <li>W trakcie realizacji procesu rezerwacji wizyty należy podać imię, telefon. Są to dane podawane opcjonalnie w celu ułatwienia kontaktu z klientem. W przypadku podania tych danych, klient oświadcza, iż napodstawieart.23ust.1pkt.1ustawy z dnia 29 sierpnia 1997 r. wyraża zgodę na przetwarzanie swoich danych osobowych przez Gramofon, w celu realizacji i procesu internetowej rezerwacji. Administratorem danych jest Gramofon siedzibą w Gdyni ul. Morska 122 A. Dane osobowe przetwarzane są wyłącznie w systemie rezerwacji wizyt Gramofonu. 
        Osobie, której dane dotyczą, przysługuje prawo dostępu do treści jej danych oraz możliwość ich poprawiania. Podanie danych jest dobrowolne..</li>
      <li>Aby zarezerwować termin, należy dokonać wpłaty 400 zł kaucji na pokrycie ewentualnych szkód wyrządzonych przez osoby przebywające w lokalu.</li>
      <li>Kaucja w wysokości 400 zł jest potwierdzeniem rezerwacji, która w razie rezygnacji z terminu nie podlega zwrotowi.</li>
      <li>Dokonanie wpłaty kaucji za najem lokalu jest równoznaczne z akceptacją wszystkich punktów niniejszego regulaminu.</li>
      <li>Po otrzymaniu wpłaty kaucji Najemca otrzymuje sms z potwierdzeniem rezerwacji lokalu Gramofon.</li>
      <li>Pełna należność za pobyt w lokalu pobierana jest gotówką w dniu wynajmu. Dopełnienie tego obowiązku jest warunkiem otrzymania kluczy do lokalu.</li>
      <br />
      <li>W dniu wynajmu lokalu jest podpisywana umowa wynajmu lokal</li>
      <br />
      <li>Najemca zobowiązany jest zwrócić Lokal Wynajmującemu w stanie niepogorszonym.</li>
      <br />
      <li>Teren przed lokalem należy do lokalu trzeba go uporządkować.</li>
      <li>W wypadku stwierdzeniu braku strat lub szkód o wartości nie przekraczającej 400 zł, należna wartość kaucji zwracana jest Najemcy od razy po zakończeniu okresu najmu.</li>
      <li>Na terenie lokalu obowiązuje bezwzględny zakaz : zażywania środków odurzających, palenie wyrobów tytoniowych, przebywania po ustalonej godzinie zakończenia najmu. 
        Na terenie lokalu obowiązuje bezwzględny zakaz wnoszenia broni palnej, noży, paralizatorów oraz jakichkolwiek innych niebezpiecznych narzędzi.</li>
      <li>Wynajmujący nie ponosi odpowiedzialności za uszkodzenia ciała lub jakikolwiek uszczerbek na zdrowiu w związku z przebywaniem na terenie lokalu.</li>
      <li>Najemca obciążony jest odpowiedzialnością materialną za wszelkiego rodzaju uszkodzenia lub zniszczenia przedmiotów wyposażenia i urządzeń technicznych znajdujących się w lokalu, które powstały bez pośrednio z jego winy lub z winy przebywających tam osób.
         Wynajmujący zastrzega sobie możliwość naprawienia szkód wyrządzonych przez Najmującego i obciążenia go kosztami poprzez ściągnięcie środków z pobranej kaucji.</li>
    </ol>
  {% endblock %}

<!--  -->
</body>











