html {
    height: 100%;
    background-color: White;
}
body {
    min-height: 100%;
    background-color: #2b542c;
    background-image: url("base.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: 100% 100%;
    position: relative;
}
#navigation-bar-container a.navbar-brand,
#navbar ul a {
    font-weight: 380;
}
#navigation-bar-container a.navbar-brand {
    font-size: 2.5rem;
}
#navbar ul a {
    font-size: 1.0rem;
}

#navbar-nav li:hover>.dropdown-menu{
    display: block;
    
}

