* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
   
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro';
    font-weight: 200;
}

#contact {
    color: #ffffff;
}

.strong {
    font-weight: 600;
}

.aboutus-local-title, .hero-text-head {
    font-size: 50px;
    font-family:  'Sahitya';
    font-weight: 700;
    text-align: center;
}


.aboutus-local-title.first-letter {
    font-size: 1.22em;
    padding-left: 72px;
    letter-spacing: 72px;
    margin: 0;

    
}
.widget_title {
    font-size: 19px;
    color: #ffffff;
    font-family: 'Source Sans 3', sans-serif;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
  
}
.catering_title {
  color: #262526;
  font-size: 24px;
  font-family: 'Source Sans 3', sans-serif;
  text-transform: uppercase;
  z-index: 5;
  position: relative;

}

.widget_title_footer {
  color: #fff;
  font-size: 19px;
  font-family: Source Sans 3, sans-serif;
  position: relative;
  z-index: 1;
}

.contact-contact-info {
    font-size: 24px;
    color: #262526;
    font-family: 'Source Sans 3', sans-serif;
    position: relative;
    text-transform: uppercase;
}


#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
    
    
}

.article__content.a, a.link
{
    color: #b59a01;
}
h2.head-text {
  color: #b59a01;
  font-size: 50px;
  font-family: 'Sahitya';
}
.head-comunicat {
  color: #ffffff;
  font-family:  'Source Sans 3', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

/* .hero-img-half { */
  /* min-height: 468.5px; */
/* } */

.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .fa-bars { 
    color: #ffffff;
    border: none !important;
    border-width:0!important;
}
nav {
    text-transform: uppercase;
    z-index: 5;
    display: inline;
    text-align: center;
    padding: 12px 21px;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    line-height: 30.6px;
    vertical-align: middle;
    flex-grow: 1;
    flex-shrink: 1;
    text-size-adjust: 100%;
}

#nav-dark {
  color: #605e5e;
}

#contact {
  background-color: rgb(13, 13, 13);

}
.headline__primary {
  font-size: 20px;
  color: #fff;
  font-family: 'Source Sans 3', sans-serif;
  position: relative;
  z-index: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}









.nav-link:focus, .nav-link:hover, .navbar-nav .nav-link.show, .a, .aboutus-local-title, .hero-text-head  {
    color: #b59a01;
}

.shadow-bg {
    background-color: rgba(192, 113, 24, 0.8);
}
/* ustawienie przycisku hamburgera na telefonach */

.navbar-toggler {
    padding: 10px 15px;
    border: 1px solid #ffffff;
}

.navbar-bar {
    display: table-cell;
    vertical-align: middle;
}

/* ustawienia dla nav czarnego */
/* .nav-link { */
  /* color: #262526; */
  /* font-size: 13px; */
  /* font: 'Cabin'; */
  /* letter-spacing: 1px; */
/* } */
/*  */
.navbar-brand {
    max-height: 64px;
    max-width: 100%;
}

#nav-light {
  color: #ffffff;
}

#nav-dark {
  color: #262526;
  font-size: 13px;
  font: 'Cabin';
  letter-spacing: 1px;
}

.nav-link:active {
  text-decoration: underline;
}

/* by pasek nawigacyjny był ciemna czcionka */
.nav-link {
  color: #ffffff;
  font-size: 13px;
  font: 'Cabin';
  letter-spacing: 1px;
}


/* tu zrobić by podkresliło aktywny element a nie na żółto */
/* .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{ */
    /* color: #b59a01;    */
/* } */
/*  */
/* sprawdzić bacground attachment */
header.hero-img {
    position: relative;
    height: 100vh;
    background-image: url("base.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    z-index: 0;
}
.hero-img.hero-img-half {
    position: relative;
    height: 350px;
    background-image: url("base.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    z-index: 0;
}
.hero-shadow {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: -5;
}
.hero-text {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    font-size: 18px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    /* letter-spacing: 3.901px; */
}

#star-base-pg {
  margin: 6px;
}

.fa-solid.fa-chevron-down {
    position: absolute;
    bottom: 20px;
    font-size: 40px;
    left: 50%;
    z-index: 100%;
    display: block;
    width: 80px;
    height: 80px;
    cursor: pointer;
    color: #fff;
}

.fa-brands {
  opacity: 0.7;
  cursor:move;
}

i, .fa-brands:hover {
  opacity: 1;
 
}

.gramofon-morska, .gramofon-grabowek, .gramofon-chylonia, .imprezy-cateringowe, .headline_statute {
  position: relative;
  background-size: cover;
  height: 250px; 
  top: 70px;
  
}

.statute, .aboutus-local-title, .porcelain_rental {
  z-index: 0;
  position: relative;
  height: 300px; 

}

.imprezy-cateringowe {
  background-image: url(catering.jpg);
  opacity: 0,6;
}

.gramofon-chylonia {
  background-image: url(chyl_pas.jpg);
} 

.gramofon-morska {
  background-image: url(mor_pas.jpg);
}

.gramofon-grabowek {
  background-image: url(grab_pas.jpg);
}

.statute, .porcelain_rental {
  background-color: #333;
}

#bottom-top {
  height: 100px;
  background-color: #262526; 
  color: #fff; 
  

}

#rent-text {
  margin-left: 40%;
  letter-spacing: 1px;
  margin-top: 10px;
}

#bottom-top-button {
  padding: 20px;
  background-color: black;
  color: #ffff;
  align-items: center;
  background-color: transparent;
  position: absolute;
  left: 50%;
}

h2 {
  color: #B59A01;
  font-size: 50px;
  font-family: 'Sahitya',  serif;
  padding: 0px;
  text-align: center;
  margin: 0px;
}

h5 {
  color: #fff;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  margin: 0px -2px 0px 0px;
}

.title-base-page {
  margin-right: -0.1em;
  letter-spacing: 0.2em;
  font-size: 20px;
  font-family: 'Source Sans 3', sans-serif;
  margin: 0px -2px 0px 0px;
  font-weight: 400;
}

.description-headline {
  margin: 0px 0px 12px;
  font-size: 15px;
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: 0.25em;
  font-weight: 400;
} 




.area {
  color: #ffff !important;
  font-size: 18px;
  font-family: 'Source Sans 3', sans-serif;
  margin: 0px 0px 30px ;
  }
.street {
  letter-spacing: 2px;
}
.title-menu {
  color: #262526;
  font-size: 24px;
  font-family: Source Sans 3, sans-serif;
  text-transform: uppercase;
}

.b {
  font-weight: 600;
  font-family: Source Sans 3, sans-serif;
  font-size: 24px;
  color: #515151;
}

.note {
    color: #4d4a4d;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;

}

a.link {
  color: #b59a01;
  text-decoration: solid;
  font-family: Source Sans 3;
  text-decoration: underline;
  padding-bottom: 2px;
}

.col-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-12 {
  min-height: 50%;
  background-color: #333;

}
.article--page {
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 400px; 
  background-image: url(base.jpg);
}

/* ustawienie przycisku hamburgera na telefonach */

.navbar-toggler {
  padding: 10px 15px;
  border: 1px solid #fff;
}

#bcg-no-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;  
}

@media (min-width: 768px) {
    .hero-text.p {
    font-size: 30px;
    }
    }

/*------------------------------------*    $STYLISH SEPARATORS
\*------------------------------------*/
.separator--flower, .separator--line-flower {
    display: block;
    height: auto;
    border: 0;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 1;
    text-align: center;
  }
  
  .separator--line-flower {
    position: relative;
    margin: 36px 0;
    color: #c59d5f;
  }
  
  .separator--line-flower .line {
    content: "";
    position: absolute;
    top: 50%;
    width: 42%;
    border: 1px solid #d8d8d8;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .separator--line-flower.separator_color--white .line {
    border-color: white;
  }
  
  .separator--line-flower .line--left {
    right: 58%;
  }
  
  .separator--line-flower .line--right {
    left: 58%;
  }
  
  .separator--line-flower .arrow--left,
  .separator--line-flower .arrow--right {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .separator--line-flower .arrow--left {
    left: 0;
    border-left: 7px solid #d8d8d8;
  }
  
  .separator--line-flower .arrow--right {
    right: 0;
    border-right: 7px solid #d8d8d8;
  }
  
  .separator--line-flower.separator_color--white .arrow--left {
    border-left: 7px solid white;
  }
  
  .separator--line-flower.separator_color--white .arrow--right {
    border-right: 7px solid white;
  }
  
  .separator--flower {
    margin: 24px 0;
    font-size: 17px;
    font-family: Serif;
    color: #9a9998;
  }
  
  .site-footer .separator--flower {
    color: #c59d5f;
  }
  
  .site-footer{
    background-color: rgb(13, 13, 13);
    color: #fff;
  }

  .article--page.border-waves:before {
    top: -7px;
    background-position: top;
    z-index: 20;
  } 

  /* by brzeg był falowany  */
  .article--page.border-waves:before, .article--page.border-waves:after {
    content: "";
    display: block;
    width: 100%;
    height: 14px;
    position: absolute;
    left: 0;
  }

  /*  */
  /* .article__content a:not([class]) { */
    /* border-color: #b59a01; */
    /* padding-bottom: 2px; */
    /* border-bottom: 2px solid #c59d5f; */
    /* font: 18px 'Cabin'; */
    /* padding: 30px 30px 30px 78px; */
  /* } */


  .border-waves-top:after,
  .border-waves-bottom:before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 14px;
    background: url("/web/20230725224453im_/http://gramofon-lokal.pl/wp-content/themes/rosa/assets/images/border-wave.svg") top left repeat-x;
    -webkit-transform: translate3d(0, 0, 0.1px);
            transform: translate3d(0, 0, 0.1px);
  }
  
  .border-waves-top:after {
    bottom: -7px;
    background-position: top;
    z-index: 20;
  }
  
  .border-waves-bottom:before {
    top: -7px;
    background-position: bottom;
    z-index: 21;
  }
  
  .article--page {
    position: relative;
  }
  
  .article--page.border-waves:before, .article--page.border-waves:after {
    content: "";
    display: block;
    width: 100%;
    height: 14px;
    position: absolute;
    left: 0;
    background: url("/web/20230725224453im_/http://gramofon-lokal.pl/wp-content/themes/rosa/assets/images/border-wave.svg") top left repeat-x;
  }
  
  .article--page.border-waves:before {
    top: -7px;
    background-position: top;
    z-index: 20;
  }
  
  .article--page.border-waves:after {
    bottom: -7px;
    background-position: bottom;
    z-index: 21;
  }
  
  .article--page:empty:before, .article--page:empty:after {
    display: none;
  }
  
  .article__header .flexbox, .article__header .site-title, .article__header .flexbox__item, .article__header .site-logo {
    pointer-events: none;
  }
  
  .article__header .flexbox__item *, .article__header .site-logo * {
    pointer-events: auto;
  }
    