h3,a {
    color: rgb(181, 154, 1);
    font-family: 'Sahitya';

}

body {
    width: 100vw;
    height: 50vh;
    background-image: url('gram.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

