* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
   
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro';
    font-weight: 200;
}

#contact {
    color: #ffffff;
}

.strong {
    font-weight: 600;
}

.aboutus-local-title, .hero-text-head {
    font-size: 50px;
    font-family:  'Sahitya';
    font-weight: 700;
    text-align: center;
}


.aboutus-local-title.first-letter {
    font-size: 1.22em;
    padding-left: 72px;
    margin: 0 -72px;
    letter-spacing: 72px;

    
}
/* przeniesione */
.widget_title {
    font-size: 19px;
    color: #ffffff;
    font-family: 'Source Sans 3', sans-serif;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.article__content.a, a.link
{
    color: #b59a01;
}
h2.head-text {
  color: #b59a01;
  font-size: 50px;
  font-family: 'Sahitya';
}
.head-comunicat {
  color: #ffffff;
  font-family:  'Source Sans 3', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

/* .hero-img-half { */
  /* min-height: 468.5px; */
/* } */

.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .fa-bars { 
    color: #ffffff;
    border: none !important;
    border-width:0!important;
}
nav {
    text-transform: uppercase;
    z-index: 5;
    display: inline;
    text-align: center;
    padding: 12px 21px;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    line-height: 30.6px;
    vertical-align: middle;
    flex-grow: 1;
    flex-shrink: 1;
    text-size-adjust: 100%;
}


#contact {
  background-color: rgb(13, 13, 13);

}
.line__primary {
    font-size: 20px;
    color: #546d1d;
    font-family: 'Source Sans 3', sans-serif;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link:focus, .nav-link:hover, .navbar-nav .nav-link.show, .a, .aboutus-local-title, .hero-text-head  {
    color: #b59a01;
}

.shadow-bg {
    background-color: rgba(192, 113, 24, 0.8);
}
/* ustawienie przycisku hamburgera na telefonach */

.navbar-toggler {
    padding: 10px 15px;
    border: 1px solid #ffffff;
}

.navbar-bar {
    display: table-cell;
    vertical-align: middle;
}

.navbar-brand {
    max-height: 64px;
    max-width: 100%;
}



/* tu zrobić by podkresliło aktywny element a nie na żółto */
/* .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{ */
    /* color: #b59a01;    */
/* } */
/*  */
/* sprawdzić bacground attachment */
header.hero-img {
    position: relative;
    height: 100vh;
    background-image: url("base.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    z-index: 0;
}
.hero-img.hero-img-half {
    position: relative;
    height: 350px;
    background-image: url("base.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
    z-index: 0;
}
.hero-shadow {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: -5;
}
.hero-text {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    font-size: 18px;
    /* letter-spacing: 3.901px; */
}

.fa-solid.fa-chevron-down {
    position: absolute;
    bottom: 50px;
    font-size: 30px;
    left: 50%;
    z-index: 100%;
    display: block;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .hero-text.p {
    font-size: 30px;
    }
    }

/*------------------------------------*    $STYLISH SEPARATORS
\*------------------------------------*/
.separator--flower, .separator--line-flower {
    display: block;
    height: auto;
    border: 0;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 1;
    text-align: center;
  }
  
  .separator--line-flower {
    position: relative;
    margin: 36px 0;
    color: #c59d5f;
  }
  
  .separator--line-flower .line {
    content: "";
    position: absolute;
    top: 50%;
    width: 42%;
    border: 1px solid #d8d8d8;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .separator--line-flower.separator_color--white .line {
    border-color: white;
  }
  
  .separator--line-flower .line--left {
    right: 58%;
  }
  
  .separator--line-flower .line--right {
    left: 58%;
  }
  
  .separator--line-flower .arrow--left,
  .separator--line-flower .arrow--right {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .separator--line-flower .arrow--left {
    left: 0;
    border-left: 7px solid #d8d8d8;
  }
  
  .separator--line-flower .arrow--right {
    right: 0;
    border-right: 7px solid #d8d8d8;
  }
  
  .separator--line-flower.separator_color--white .arrow--left {
    border-left: 7px solid white;
  }
  
  .separator--line-flower.separator_color--white .arrow--right {
    border-right: 7px solid white;
  }
  
  .separator--flower {
    margin: 24px 0;
    font-size: 17px;
    font-family: Serif;
    color: #9a9998;
  }
  
  .site-footer .separator--flower {
    color: #c59d5f;
  }
  
  .article--page.border-waves:before {
    top: -7px;
    background-position: top;
    z-index: 20;
  } 

  /* by brzeg był falowany  */
  .article--page.border-waves:before, .article--page.border-waves:after {
    content: "";
    display: block;
    width: 100%;
    height: 14px;
    position: absolute;
    left: 0;
  }

  /*  */
  /* .article__content a:not([class]) { */
    /* border-color: #b59a01; */
    /* padding-bottom: 2px; */
    /* border-bottom: 2px solid #c59d5f; */
    /* font: 18px 'Cabin'; */
    /* padding: 30px 30px 30px 78px; */
  /* } */


  .border-waves-top:after,
  .border-waves-bottom:before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 14px;
    background: url("/web/20230725224453im_/http://gramofon-lokal.pl/wp-content/themes/rosa/assets/images/border-wave.svg") top left repeat-x;
    -webkit-transform: translate3d(0, 0, 0.1px);
            transform: translate3d(0, 0, 0.1px);
  }
  
  .border-waves-top:after {
    bottom: -7px;
    background-position: top;
    z-index: 20;
  }
  
  .border-waves-bottom:before {
    top: -7px;
    background-position: bottom;
    z-index: 21;
  }
  
  .article--page {
    position: relative;
  }
  
  .article--page.border-waves:before, .article--page.border-waves:after {
    content: "";
    display: block;
    width: 100%;
    height: 14px;
    position: absolute;
    left: 0;
    background: url("/web/20230725224453im_/http://gramofon-lokal.pl/wp-content/themes/rosa/assets/images/border-wave.svg") top left repeat-x;
  }
  
  .article--page.border-waves:before {
    top: -7px;
    background-position: top;
    z-index: 20;
  }
  
  .article--page.border-waves:after {
    bottom: -7px;
    background-position: bottom;
    z-index: 21;
  }
  
  .article--page:empty:before, .article--page:empty:after {
    display: none;
  }
  
  .article__header .flexbox, .article__header .site-title, .article__header .flexbox__item, .article__header .site-logo {
    pointer-events: none;
  }
  
  .article__header .flexbox__item *, .article__header .site-logo * {
    pointer-events: auto;
  }
    