
/* TU PIERWSZE STYLE DO MORSKA.. */

/* body { */
    /* font-family: 'Cabin', sans-serif; */
/* } */
/* p { */
    /* color: #363535;  */
 /* } */

.gramofon-morska, .gramofon-grabowek, .gramofon-chylonia, .imprezy-cateringowe  {
    position: relative;
    z-index: 0;
    background-size: cover;
    height: 400px; 
}

.imprezy-cateringowe {
    background-image: url(catering.jpg);
}

.gramofon-chylonia {
    background-image: url(chyl_pas.jpg);
} 

.gramofon-morska {
    background-image: url(mor_pas.jpg);
}

.gramofon-grabowek {
    background-image: url(grab_pas.jpg);
}

h2 {
    color: #B59A01;
    font-size: 50px;
    font-family: 'Sahitya',  serif;
    margin: 0px -72px -4px;
    padding: 0px 72px;
    text-align: center;
}

h5 {
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    margin: 0px -2px 0px 0px;

}
.area {
    color: #ffff !important;
    font-size: 18px;
    font-family: 'Source Sans 3', sans-serif;
    margin: 0px 0px 30px ;
    }

.widget_title {
    font-size: 24px;
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
      }
.widget_title_footer {
    color: #fff;
    font-size: 19px;
    font-family: Source Sans 3, sans-serif;
    position: relative;
    z-index: 1;
}
.headline__primary {
    font-size: 20px;
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.site-footer{
  background-color: rgb(13, 13, 13);
  color: #fff;
}
.title-menu {
  color: #262526;
  font-size: 24px;
  font-family: Source Sans 3, sans-serif;
  text-transform: uppercase;
}

.b {
  font-weight: 600;
  font-family: Source Sans 3, sans-serif;
  font-size: 24px;
  color: #515151;
}

.note {
    color: #4d4a4d;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;

}

a.link {
    color: #b59a01;
    text-decoration: solid;
    font-family: Source Sans 3;
    text-decoration: underline;
    padding-bottom: 2px;
}

.col-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-12 {
    min-height: 50%;
    background-color: #333;
  
}
/* #porcelana { */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* padding: 5vw; */
    /* display: flex; */
    /* -webkit-box-align: center; */
    /* -ms-flex-align: center; */
    /* align-items: center; */
    /* -webkit-box-pack: center; */
    /* -ms-flex-pack: center; */
    /* justify-content: center; */
    /* text-align: center; */
/* } */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: #ffffff;
}





.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .fa-bars { 
    color: #605e5e;
}

.nav-link {
    color: #262526;
    font-size: 13px;
    font: 'Cabin';
    letter-spacing: 1px;
}
nav {
    text-transform: uppercase;
    z-index: 5;
    display: inline;
    text-align: center;
    padding: 12px 21px;    
    cursor: pointer;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    line-height: 30.6px;
    vertical-align: middle;
    flex-grow: 1;
    flex-shrink: 1;
    text-size-adjust: 100%;
}
.nav-link:focus, .nav-link:hover, .navbar-nav .nav-link.show{
    color: #b59a01;
}

.shadow-bg {
    background-color: rgba(192, 113, 24, 0.8);
}
/* ustawienie przycisku hamburgera na telefonach */

.navbar-toggler {
    padding: 10px 15px;
    border: 1px solid #fff;;
}

/* tu zrobić by podkresliło aktywny element a nie na żółto */
/* .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{ */
    /* color: #b59a01;    */
/* } */
/*  */
/* sprawdzić bacground attachment */
/* header.hero-img { */
    /* position: relative; */
    /* height: 100vh; */
    /* background-image: url("base.jpg"); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-attachment: fixed; */
    /* color: #fff; */
    /* z-index: 0; */
/* } */
.hero-shadow {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 40%;
    z-index: -5;
}
.hero-text {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.fa-solid.fa-chevron-down {
    position: absolute;
    bottom: 50px;
    font-size: 30px;
    left: 50%;
}

@media (min-width: 768px) {
    .hero-text.p {
    font-size: 30px;
    }
    }

    /*------------------------------------*    $STYLISH SEPARATORS
\*------------------------------------*/
.separator--flower, .separator--line-flower {
    display: block;
    height: auto;
    border: 0;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 1;
    text-align: center;
  }
  
  .separator--line-flower {
    position: relative;
    margin: 36px 0;
    color: #c59d5f;
  }
  
  .separator--line-flower .line {
    content: "";
    position: absolute;
    top: 50%;
    width: 42%;
    border: 1px solid #d8d8d8;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .separator--line-flower.separator_color--white .line {
    border-color: white;
  }
  
  .separator--line-flower .line--left {
    right: 58%;
  }
  
  .separator--line-flower .line--right {
    left: 58%;
  }
  
  .separator--line-flower .arrow--left,
  .separator--line-flower .arrow--right {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .separator--line-flower .arrow--left {
    left: 0;
    border-left: 7px solid #d8d8d8;
  }
  
  .separator--line-flower .arrow--right {
    right: 0;
    border-right: 7px solid #d8d8d8;
  }
  
  .separator--line-flower.separator_color--white .arrow--left {
    border-left: 7px solid white;
  }
  
  .separator--line-flower.separator_color--white .arrow--right {
    border-right: 7px solid white;
  }
  
  .separator--flower {
    margin: 24px 0;
    font-size: 17px;
    font-family: Serif;
    color: #9a9998;
  }
  
  .site-footer .separator--flower {
    color: #c59d5f;
  }
  
  .article--page.border-waves:before {
    top: -7px;
    background-position: top;
    z-index: 20;
  } 

/* contakt.html */

.article--page {
  position: relative;
  z-index: 0;
  background-size: cover;
  height: 400px; 
  background-image: url(base.jpg);
}

#bcg-no-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;  
}