{% extends "site/base.html" %} 
{% load static %} 
{% block title %}Gramofon-Twoje miejsce na Urodziny i Imprezy w Gdyni{% endblock %}
{% block content %}
<!-- <div id="sidebar"> -->
  <body>
    <link rel="stylesheet" href="/static/styles.css">
  </body>    
  <h1>GRAMOFON</h1>
  <h4>URODZINY I IMPREZY OKOLICZNOŚCIOWE</h4>
      <h3>
        <strong>TRZY LOKALE DO WYBORU !</strong>
      </h3>
      
    </section>
  </div>

</div>
  {% for local in locals %}
 <h3>{{ local.title_local }}</h3>
 <link rel="stylesheet" href="{% static 'styles.css' %}">
 <p>{{ local.note_local }}</p>
 <p><a href="gramofon-morska">Dowiedz się więcej ></a></a></p>
 <img src="/media/image/{{local.image_base}}">
 {% endfor %}
{% endblock %}
 















































































