{% extends "site/base.html" %} 
{% load static %} 
<!-- <!DOCTYPE html> -->
<!-- <html lang="pl"> -->
<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Gramofon Morska-Gramofon w Gdyni</title>
    

</head>
<div>
  {% block morska %}
  <h2>{{ morska_obj.title_page }}</h2>
  <h1>{{ morska_obj.street }}</h1>
  <p>{{ morska_obj.note_short }}</p>
  {% endblock %}
</div>
<div>

</div>
  {% block morska_dance_room %}  
  <div>
    <h2>{{ morska_obj.dance_room_title }}</h2>
    <p>{{ morska_obj.dance_room_note }}</p>
    <img src="/media/image/{{morska_obj.image_base}}">
  </div>
  {% endblock %} 

 

  
  

  {% block morska_toilet %} 
  <div>
    <h2>{{ morska_obj.toilet_title }}</h2>
    <p>{{ morska_obj.toilet_note }}</p>
    <img src="/media/image/{{morska_obj.toilet_img}}">
  </div>
  {% endblock  %} 

  {% block morska_kitchen %} 
  <div>
    <h2>{{ morska_obj.kitchen_title }}</h2>
    <p>{{ morska_obj.kitchen_note }}</p>
    <img src="/media/image/{{morska_obj.kitchen_img}}">
  </div>
  {% endblock  %} 

  
</div>

<div>

</div>

